<div class="panel">
    <div class="panel-body">
        <form class="form-group col-md-6 col-md-offset-3" ng-submit="createVehicle()">

            <div class="form-group col-md-12">

                <label for="make">Vehicle Make:
                <select id="make-dropdown" class="form-control" name="make" ng-model="newVehicle.make"
                    ng-options="vehicle.make as vehicle.make for vehicle in vehicles | unique: 'make'" title="Make">
                </select></label>
                <input type="text" id="other-make" class="form-control" name="make" ng-model="newMake"
                    placeholder="Make" ng-show="newVehicle.make == 'Other'" ng-required="newVehicle.make == 'Other'" />

            </div>
            <div class="form-group col-md-12">

                <label for="model">Vehicle Model:
                <select id="model-dropdown" class="form-control" name="model" ng-model="newVehicle.model"
                    ng-options="vehicle.model as vehicle.model for vehicle in vehicles | unique: 'model'">
                    <option value="" ng-if="false"></option>
                </select></label>
                <input type="text" id="other-model" class="form-control" name="model" ng-model="newModel"
                    placeholder="Model" ng-show="newVehicle.model == 'Other'" ng-required="newVehicle.model == 'Other'" />

            </div>
            <div class="form-group col-md-12">

                <label for="licensePlate">License Plate Number:
                <input type="text" id="licensePlate" class="form-control" name="licensePlate" ng-model="newVehicle.licensePlate"
                    placeholder="License Plate Number" required /></label>

                <label for="licenseLocation">License Plate Location:
                <input type="text" id="licenseLocation" class="form-control" name="licenseLocation" ng-model="newVehicle.licenseLocation"
                    placeholder="License Plate Location" required /></label>

            </div>
            <div class="form-group col-md-12">
                <label for="color">Color:
                <input type="text" id="color" class="form-control" name="color" ng-model="newVehicle.color" placeholder="Color" required /></label>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <div class="alert-success" ng-show="message.length">
                {{message}}
            </div>
            <div class="alert-danger" ng-show="error.length" ng-repeat="error in errors" >
                {{error}}
            </div>
        </form>
    </div>
</div>
