<div class="panel">
    <div class="panel-body">
        <form class="form-group" ng-submit="createVehicle()">

            {{newVehicle}}

            <fieldset class="form-group">

                <label for="make">Vehicle Make:
                <select id="make-dropdown" class="form-group" name="make" ng-model="newVehicle.make"
                    ng-options="vehicle.make as vehicle.make for vehicle in vehicles | unique: 'make'"></select>
                <input type="text" id="other-make" class="form-group" name="make" ng-model="newMake"
                    placeholder="Make" ng-show="newVehicle.make == 'Other'" ng-required="newVehicle.make == 'Other'" /><label>

            </fieldset>
            <fieldset class="form-group">

                <label for="model">Vehicle Model:
                <select id="model-dropdown" class="form-group" name="model" ng-model="newVehicle.model"
                    ng-options="vehicle.model as vehicle.model for vehicle in vehicles | unique: 'model'"></select>
                <input type="text" id="other-model" class="form-group" name="model" ng-model="newModel"
                    placeholder="Model" ng-show="newVehicle.model == 'Other'" ng-required="newVehicle.model == 'Other'" /><label>

            </fieldset>
            <fieldset class="form-group">
                <label>License Plate</label>
                <label for="licensePlate">Number:
                <input type="text" id="licensePlate" class="form-group" name="licensePlate" ng-model="newVehicle.licensePlate"
                    placeholder="License Plate Number" required /></label>

                <label for="licenseLocation">Location:
                <input type="text" id="licenseLocation" class="form-group" name="licenseLocation" ng-model="newVehicle.licenseLocation"
                    placeholder="License Plate Location" required /></label>

            </fieldset>
            <fieldset class="form-group">
                <label for="color">Color:
                <input type="text" id="color" class="form-group" name="color" ng-model="newVehicle.color" placeholder="Color" required /></label>
            </fieldset>
            <button type="submit" class="btn btn-default">Create</button>
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <div class="alert-success" ng-show="message.length">
                {{message}}
            </div>
            <div class="alert-danger" ng-show="error.length" ng-repeat="error in errors" >
                {{error}}
            </div>
        </form>
    </div>
</div>
