<div class="panel">
    <div class="panel-body">
        <fieldset>
            <legend>
                Registered Vehicles
            </legend>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Color</th>
                        <th>License Plate Number</th>
                        <th>License Plate Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vehicle in vehicles" ui-sref="vehicle.update ({id : vehicle.vehicleId})">
                        <td>{{vehicle.make}}</td>
                        <td>{{vehicle.model}}</td>
                        <td>{{vehicle.color}}</td>
                        <td>{{vehicle.licensePlate}}</td>
                        <td>{{vehicle.licenseLocation}}</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
