<div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body">
        <form class="form-group" ng-submit="updateCustomer()">
            <fieldset>
                <legend>
                    Update Customer Information
                </legend>
                <div class="form-group">
                    <label for="firstName" class="col-md-12">First Name:
                    <input type="text" id="firstName" class="form-control" ng-model="customer.firstName"
                        placeholder="First Name" pattern="^[a-zA-Z\-\s]+$" title="First Name" required /></label>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-md-12">Last Name:
                    <input type="text" id="lastName" class="form-control" ng-model="customer.lastName"
                        placeholder="Last Name" pattern="^[a-zA-Z\-\s]+$" title="Last Name" required /></label>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="col-md-12">Phone Number:
                    <input type="text" id="phoneNumber" class="form-control" ng-model="customer.phoneNumber"
                        placeholder="Phone Number" pattern="^[0-9]{3}\-[0-9]{3}\-[0-9]{4}$" title="123-123-1234" required /></label>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-12">Email:
                    <input type="text" id="email" class="form-control" ng-model="customer.email"
                        placeholder="Email" pattern="^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$" title="email@domain.com" required /></label>
                </div>
                <div class="form-group col-md-12 btn-area">
                    <button type="submit" class="btn btn-default">Update</button>
                    <button type="button" class="btn btn-default" ui-sref="customer.view" ui-sref-opts="{reload: true}">Cancel</button>
                    <div class="alert-success" ng-show="message.length">
                        {{message}}
                    </div>
                    <div class="alert-danger" ng-show="error.length">
                        {{error}}
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
