ul.nav {

    margin-top: 7px;

}

.nav a {

    color: white !important;

}

.nav ul a {

    color: black !important;

}

.nav > li > a:hover,
.open > a {

    background-color: transparent !important;

}

.dropdown:hover .dropdown-menu {

    display: block;
    margin-top: 0;

}

.dropdown:hover .dropdown-menu a {

    display: block;
    margin-top: 0;

}

#view-port {

    margin-top: 55px;

}

.btn-area {

    text-align: center;

}
